<div class="card card-body shadow">
  <h1 class="text-center mt-3">對不起，似乎有點問題...</h1>

  <div class="mt-4 text-center text-danger">
    <h2>錯誤代號: {{statusCode}}</h2>
    <h4>{{message}}</h4>
  </div>

  <p class="lead mt-4">
    <a href="/" class="btn btn-secondary w-100">返回</a>
  </p>
</div>